@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Bruno Ace SC', system-ui, -apple-system, BlinkMacSystemFont,
    Roboto, sans-serif;
  color: #d1d1d1;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: #000000;
  text-decoration: none;
  display: block;
}

.bg-dark {
  background: #000000;
}

.bg-white {
  background: #ffffff;
}

.text-primary {
  color: #00ffa3;
}

.text-white {
  color: #ffffff;
}

.text-dark {
  color: #000000;
}

.text-secondary {
  color: #15161d;
}

.fs-1 {
  font-size: 8rem;
}

.fs-2 {
  font-size: 4rem;
}

.fs-3 {
  font-size: 1.5rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

/* 4px 為 1單位 */
.ml-1 {
  margin-left: 4px;
}

.mr-4 {
  margin-right: 16px;
}

.mr-6 {
  margin-right: 24px;
}

.ml-4 {
  margin-left: 16px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-7 {
  margin-bottom: 28px;
}

.mb-8 {
  margin-bottom: 32px;
}

.mb-9 {
  margin-bottom: 36px;
}

/* 12px 為 1單位 */
.pl-2 {
  padding-left: 12px;
}

.pr-2 {
  padding-right: 12px;
}

/* 16px 為 1單位 */
.pt-6 {
  padding-top: 96px;
}

.pt-10 {
  padding-top: 160px;
}

.pb-6 {
  padding-bottom: 96px;
}

.pb-10 {
  padding-bottom: 160px;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.nav {
  padding: 40px 0;
}

.nav a {
  color: #d1d1d1;
}

.nav a:hover {
  color: #00ffa3;
}

.banner {
  padding-top: 72px;
  padding-bottom: 32px;
}

.banner-intro {
  width: 49.1%;
}

.btn {
  padding: 12px 24px;
  border-radius: 32px;
}

.intro {
  background-image: url('./images/background-img.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.card-list {
  flex-wrap: wrap;
  max-width: 636px;
}

.column {
  width: 50%;
}

.card {
  padding: 16px;
  border: 1px solid #e3e3e3;
  box-shadow: 4px 4px 4px 0 #00000014;
}

.card:hover {
  background: #00ffa3;
}

.contact {
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}

.social-media {
  width: 40.1%;
  gap: 20px;
}

.social-btn {
  border-radius: 40px;
  box-shadow: 0px 4px 4px 0px #00000040;
  transition: box-shadow 0.8s;
}

.social-btn:hover {
  box-shadow: 0px 0px 16px 3px #9094ffe5;
}

.project h2 {
  max-width: 746px;
}

.project-intro {
  width: 66%;
}

.footer {
  text-align: center;
  padding: 40px 0;
}
